# Ignore all files and directories; Turns .gitignore into a whitelist
*
# Whitelists all sub-directories
!*/
# Directory Blacklist
/.idea
# Root Whitelist
!.editorconfig
!.gitignore
!LICENSE
!poetry.lock
!pyproject.toml
!README.md
!Pipfile
!Pipfile.lock
